.intro,
.qs-container {
  margin-top: 50px;
}

.qs-container h6 {
  font-size: 1.2rem;
  /* border-bottom: 2px dotted; */
  padding-bottom: 5px;
  margin-bottom: 25px;
}

.intro__text-logo {
  text-transform: uppercase;
  font-weight: bold;
}

.intro__text-logo span {
  font-weight: 300;
}

.intro__logo,
.left-image {
  width: 50%;
  margin: auto;
  display: block;
}

.intro__description {
  /* text-transform: uppercase;
  letter-spacing: 0px; */
}

.intro__get-starter {
  display: block;
}

.btn {
  margin-top: 40px;
}

.input-group button {
  width: 160px;
}
